[2014-11-20 10:10] alihastie opened #1 "Mahara Collections (and their pages) Not Displaying within Assignments"
Using Moodle 2.6.6 and Mahara 1.9.3 version.

assignsubmission_mahara  v2014082000
1. Student copies Mahara collection from lecturer with around six pages contained within the collection, save as their own but the collection or the pages do not appear within the Moodle assignment.
2. Student copies a single page from lecturer, saves as their own and the page appears within the Moodle assignment. S

[2014-12-01 03:20] agwells opened #2 "Multiple submissions of the same page to different assignments breaks previous assignments' access"
The current implementation for allowing assignments to be submitted without locking the page/collection, is pretty much a hack. It calls the Mahara method that submits & locks the page. It retrieves and stores the secret URL which is created by this call. Then it immediately calls the Mahara method that releases the page.

As a bug in the original Mahara code, the secret URL created for the lock i

[2015-02-10 02:42] agwells commented on #1
I wasn't able to replicate this issue. Can you provide more information about which versions of everything you're using?

- Moodle version
- Mahara version
- Mahara assignment submission plugin version
- Mahara assignment feedback plugin version (if you're using it)

[2015-02-10 10:17] alihastie commented on #1
Moodle v2.6.6
Mahara v1.9.3
Mahara assignment submission plugin v2014082000
Mahara assignment feedback plugin v2013061200

The plugins above were used to upgrade from the Portland University version of the submission and feedback plugins. Our hosting company removed the local plugin.

[2015-02-12 13:44] dajan opened #3 "No pages or collection found"
1/ I have installed the new Mahara assignement plugin on a Moodle/Mahara couple already married. The authentication is made on Moodle and the users roams to Mahara without problems. The installation was made from the Install plugin page on Moodle (no download or git install)

2/ I have created a new Assignement with the Mahara type

3/ I logged as a student. This student can roam to Mahara from Mo

[2015-02-16 04:42] agwells opened #4 "Submit group page to a Mahara assignment in Moodle"
See Launchpad Bug: https://bugs.launchpad.net/mahara/+bug/1395629

Hello
I'd like to submit a new feature request (asked by our teachers)
We have on our Moodle some courses with Mahara assignments.
For specific diploma, we ask our students to collaborate in groups, using groups in Mahara, and create collaborative pages.
Would it be possible to manage the Mahara assignement activity in Moodle by gr

[2015-03-24 14:38] sam-moodle commented on #2
Hi all. I'm reviewing this plugin for inclusion as an update to our codebase and I'm trying to grasp the full implications of this issue.

I'm very familiar with Moodle, but not terribly familiar with Mahara. My understanding from looking at code in both places is that the main consequence is that the secreturl, which Moodle stores for viewing the submission will be "deleted once another lock is c

[2015-03-24 14:54] kabalin commented on #2
@sam-moodle If I recall correctly, there is no way to submit the same page to more than one assignment at the time.

[2015-03-24 21:29] agwells commented on #2
Hi @kabalin,

You can't submit a *locked* Mahara page to another Moodle assignment. But the Portland U code makes it so that the Mahara page is *not* permanently locked anymore. If you use the feedback plugin, it gets unlocked after grading. And if you use the option (which this bug is about) to not lock the page at all, there's nothing to stop you from submitting it to another assignment at the s

[2015-03-25 16:11] sam-moodle commented on #2
Thanks for the responses, @kabalin and @agwells. I really appreciate the feedback.

[2015-04-14 12:57] elenel opened #5 "And string "none selected" to lang package / Amos"
Hello
I discovered that the string (none selected) is not in the lang package
But directly in  /mod/assign/submission/mahara/localib.php
line 216
$mform->addElement('radio', 'viewid', '', '(none selected)', 'none');

We don't want to touch the plugin code
Would it be possible to add it in the lang package for next release ?

Thanks
BR
Emilie

[2015-04-14 13:42] kabalin commented on #5
Committed the patch, thanks for reporting. @agwells what is the release policy, I guess patch should just stay here till more significant change will come up and then will be released altogether?

[2015-04-15 01:44] agwells commented on #5
Hi Ruslan,

Yeah, I think our release policy here is just "as needed".

Since there's not a lot of active development on this at the moment, it might make sense to just push out a release for this patch, even though it's a small change. Otherwise it could be some time before it gets published.

I'll see if I have time to do it next week. I'm pretty busy this week getting Mahara 15.04.0 ready.

Che

[2015-04-23 03:39] agwells opened #6 "Can't delete a mahara assignment if the Mahara site is down"
I had this problem on a demo site. A Moodle & Mahara site were connected together via MNet. Some mahara assignments were set up on the Moodle site. Then the Mahara site had its database reset (on purpose), while the Moodle site was kept around because it had useful demo data in it.

The result was that the existing mahara assignments were broken, but they couldn't be deleted because attempts to de

[2015-04-23 03:43] #6 closed

[2015-04-23 09:31] kabalin commented on #6
I think I saw something similar when submitted page (unlocked) was deleted in Mahara, then deteting corresponding assignment in Moodle was not possible. Thanks for fixing this!

[2015-04-30 06:44] agwells opened #7 "Mahara page preview doesn't work if Mahara & Moodle are at different domain names"
Mahara serves up all its pages with a "X-Frame-Options: SAMEORIGIN" response header. This prevents Mahara pages from being displayed within an iframe on a page that is at a different domain name.

This is a security measure, to protect against "clickjacking", but it interferes with the preview functionality in this plugin, if your Mahara & Moodle sites are at different domains (e.g. mahara.example

[2015-04-30 06:46] agwells commented on #7
The most robust solution to this, is to provide a way for Mahara to display a Mahara page in "embed" mode. When in embed mode, we would remove any interactive features (or at least show the page is if you're logged out), and we would omit the X-Frame-Options: SAMEORIGIN header.

[2015-04-30 06:50] agwells commented on #7
Another possibility would be to use the "Content-Security-Policy: frameancestors" response instead of X-Frame-Options, and to have it list any MNetted sites as legal frameancestors. But, we'd need to do some research and make sure that's supported in all the major browsers now. I think it may still be a standard that's under development.

There's also X-Frame-Options: ALLOW-FROM, but that is not s

[2015-05-12 10:29] kabalin opened #8 "Unlocking needs to use events rather that assignfeedback plugin."
As it has been stated in the corresponding bug in [assignfeedback plugin](https://github.com/MaharaProject/moodle-assignfeedback_mahara/issues/1), unlocking mechanism implementation using feedback plugin does not respect marking workflow states and unlock pages when they should remain locked. The reason is simple - feedback plugin is designed to capture feedback from grading teacher and being trig

[2015-05-12 11:15] kabalin commented on #8
I have created branch with unlocking using events:

https://github.com/lucisgit/moodle-assignsubmission_mahara/tree/moodle27-eventunlocking

The suggested solution is fixing outstanding bugs in assingfeedback_mahara plugin:
* https://github.com/MaharaProject/moodle-assignfeedback_mahara/issues/1
* https://github.com/MaharaProject/moodle-assignfeedback_mahara/issues/2

While testing the feature, pl

[2015-05-12 23:25] agwells commented on #8
Hi Ruslan!

In general, I'm in favor of merging it all into one branch. We don't want to get into another "fork" situation.

Does event-based branch make the feedback plugin redundant? I mean, does it achieve the same functionality as the feedback plugin (i.e. allowing the teacher to specify that they want the Mahara Page/Collection to be unlocked once it has been graded)?

Cheers,
Aaron

[2015-05-12 23:40] kabalin commented on #8
Hi Aaron, I do not think assignfeedback was "asking" teacher whether they want to unlock, the fact of having this plugin installed just handled unlocking on grading, that is it. When assignsubmission plugin setting was set not to lock at all, it did not do anything obiously.

The event based unlocking has absolutely same functionality (well, slightly extended functionality, see README.md diffs for

[2015-05-12 23:47] agwells commented on #8
Hi Ruslan,

In practice, with the feedback plugin, you can enable/disable the unlocking behavior by choosing whether or not to use the feedback plugin on a particular assignment. That's what I meant by "asking" the teacher. If the events-based branch does the same thing (which it sounds like it does), then that's great. :)

I definitely recall the discussion about removing the outcomes functionali

[2015-05-12 23:52] upats commented on #8
It would be great to utilize the events feature in Moodle! I have always thought the feedback plugin felt a bit out of place… the functionality it provides isn’t exactly “feedback” by the standard moodle definition, which leads to some confusing situations with faculty members.

-Tony

From: Aaron Wells [mailto:notifications@github.com]
Sent: Tuesday, May 12, 2015 4:47 PM
To: MaharaProject/moodle-

[2015-05-12 23:53] kabalin commented on #8
Ah, enabling/disabling by choosing whether to use feedback plugin will not work now, there are no extra assignment instance interface items added. Basically, if global plugin settings enables locking, then it will be locked on submission and unlocked on grading or workflow state, but no way to control it on per-assignment basis.

[2015-05-13 00:03] agwells commented on #8
Hm, well if we want to retain the current functionality, we'll need:

1. A per-assignment setting for whether or not to release the Mahara Page/Collection after grading

2. (Maybe also) a sitewide setting to control the default value of the per-assignment setting.

On the other hand, maybe schools might actually prefer to just have it as a sitewide setting, so that their teachers don't need to wor

[2015-05-13 00:12] kabalin commented on #8
Regarding point 1, there is a risk of situation when pages will remain locked forever in Mahara. Which seems was achievable in the situation of using feedback plugin but not selecting it on per-instance basis (or not using feedback plugin at all, but having global locking enabled). Not sure if anyone using this functionality these days, but I have a feeling that someone may use it, as this was how

[2015-05-13 00:18] upats commented on #8
You can essentially enable a sitewide setting with the feedback plugin by setting the option to have “mahara portfolio” feedback enabled by default in all assignments. We have faculty members who use both scenarios.

Some programs at our university don’t care if the mahara portfolios are locked on submission and actually it would be detrimental for them if they were locked. Then there are other us

[2015-05-13 09:48] kabalin commented on #8
OK, then for this stage I will implement per-assignment unlocking setting to make functionality identical to assignfeedback. Regarding unlocking page by student - well, if submission has not been graded, it should be possible by selecting "no Page" (which will unlock previously submitted Page). If work has been graded, I am not sure it would be a good idea to allow student to revoke submission (no

[2015-05-13 16:43] upats commented on #8
When a portfolio is graded, it should get unlocked anyway by way of this functionality we’re talking about so I don’t think that is an issue. I think it’s more concerning for cases where a student submits their portfolio and it doesn’t get graded for some reason. The portfolio they submitted would then be indefinitely locked… unless they figured out how to revoke their submission by selecting “no

[2015-05-26 15:39] kabalin commented on #8
@upats The problem with "Revoke" button is that the same submission may contain a combination of different submission types, e.g. file, text and Mahara altogether. While we know exactly what should happen on revoking Mahara portfolio, it is not clear what other plugins need to do - does entire submission needs to be rolled back to the draft state including all other parts? Or perhaps deleted? And

[2015-05-26 15:57] kabalin commented on #8
Working on per-assignment unlocking at the moment. I am thinking that the best way would be to extend existing settings. We currently have "Lock submitted pages" that has No/Yes (0/1) settings. I want to modify options as follows (for both global settings and per-assignment):
* No - 0
* Yes, leave page locked after grading - 1
* Yes, unlock page after grading - 2

During plugin upgrade, I will nee

[2015-05-27 08:43] anisj opened #9 "Higher version already installed!"
Please note that while upgrading to the newer version (2014082002) we are getting this error:

Cannot downgrade assignsubmission_mahara from 20140412000 to 2014082002.
we were using the University of Portland developed plug-ins.

Thank you,
Anis

[2015-05-27 23:39] agwells commented on #9
Hi Anis,

I see, it appears that the last version of the Portland U plugin had a typo in its version number. Moodle plugin versions are supposed to have two digits after the date portion, but theirs has 3. Consequently, even though "20140412" is an earlier date than "20140820", the number "20140412000" is 10 times greater than "20140820", so Moodle refuses to update.

To fix this, you'll need to c

[2015-05-29 15:49] kabalin commented on #8
The above has been implemented: https://github.com/lucisgit/moodle-assignsubmission_mahara/commit/1c7ab8b70380960a1d05bc85b56070f63f9adf60

@agwells What would be the best plan of merging it? Perhaps I will create another branch for 28 and send two pull requests (for 27 and 28), so that you would review it properly before merging. May be it is time to spin-off 29 branch and make release? Then the

[2015-06-03 05:36] agwells commented on #8
Since Moodle 2.9 has now been released, we may as well make a moodle29 branch.

Sure, the idea of sending pull requests sounds good. Does this change require different code for 2.7, 2.8, and 2.9, or will it cherry-pick cleanly from one version to another?

[2015-06-04 15:44] kabalin commented on #8
@agwells, it should be just a matter of cherry-picking for 2.8 at least. Shame, I have not tested it on 2.9 yet, any chance you could do that while creating 2.9 branch?

[2015-06-04 20:30] MelvRom opened #10 "Restoration of a deleted Mahara assignment will not lock up pages again"
When a Mahara assignment containing submitted pages is deleted and then restored. The pages will not be locked again in Mahara. To reproduce:

*Assuming that the "Lock submitted pages" option is at "Yes" with the "Mahara Feedback" checked.

1. As a student, go to the Mahara assignment and submit a page or pages.
2. As a teacher, make a backup of your course only with the Mahara assignment. You mus

[2015-06-10 16:44] upats commented on #3
Hi Dajan,

What versions of Moodle and Mahara are you using?

Were you able to replicate this with any other users? Also, the assignment will not let you submit your mahara profile page or dashboard page, so make sure it's actually a brand new page that you're attempting to submit.

I notice this issue is from a few months ago, so you may also want to upgrade your plugins to see if there's still a

[2015-06-10 16:49] upats commented on #1
Hi @alihastie ,

Please try to upgrade your plugins to the newest versions of the assignsubmission and assignfeedback from the catalyst github repository.

The University of Portland's versions of the plugins are no longer being developed or are supported. The new versions of the plugins support collections, which your debug output looks like may have caused the problem.

[2015-06-10 16:57] upats commented on #10
hi @MelvRom ,

There are some pull requests awaiting a merge into the master branches of the plugins. These updates have reworked the locking/unlocking mechanism. You may want to try this newest version after they've been merged to see if this still happens. You will no longer need the feedback plugin as all events are handled within the assignsubmission plugin instead.

The lock/unlocking feature

[2015-06-10 17:05] upats opened #13 "Add "test connection" functionality in GUI and cli"
A user on the Moodle forums sent me a message with a request:

"I work for the University of Montreal, we are using Mahara 1.10.2, Moodle 2.7 with the new versions of plugins for assign submission and feedback from Mahara.

We would like to have an automated test that can detect if my Moodle-Mahara integration is working fine. In other words, any kind of integration test that can check the SSO, ex

[2015-09-22 20:58] upats opened #14 "Multiple submissions of the same page to different assignments breaks previous secret URLs"
I just noticed this--I am not sure if it's something that's existed the whole time or if it is just surfacing now.

When a student submits their mahara page to a moodle assignment, it generates the secret URL and everything is good.
If that student, in another course or the same course for a different assignment, submits the same page again, it breaks the secret URL that was previously generated.

[2015-09-22 23:25] agwells commented on #14
Hi upats,

I think what you're describing is the same behavior I described in Issue 2: https://github.com/MaharaProject/moodle-assignsubmission_mahara/issues/2#issue-50483918

So, I'll mark this one as a duplicate.

Cheers,
Aaron

[2015-09-22 23:25] #14 closed

[2015-09-22 23:44] upats commented on #14
Ahh! I completely forgot about that. But yeah, this seems to be another side effect of the locking issue. Dang...

[2015-09-28 18:29] upats commented on #2
Hi all,

Is there any way for us to help out with this issue? We are running into a serious problem with one of our departments (mostly political stuff) because of this particular shortcoming which may seriously hurt the perception and continued usage of Mahara on our campus. The short of it is the thread has already worn pretty thin and this particular issue might be enough to break it.

If there

[2015-09-28 21:11] agwells commented on #2
Hi Tony,

Come to think of it, I've been sitting on this pull request from Ruslan since June, which I think might take care of this issue: https://github.com/MaharaProject/moodle-assignsubmission_mahara/pull/12 . It's been on my "to do" list, but I've been busy with the whole front-end overhaul in Mahara 15.10 so I haven't had community-support time available for it.

So if you could test that out

[2015-09-28 23:53] upats commented on #2
Thanks for the suggestion, Aaron. I know you're busy which is why I was wondering if we could help in any way :)

I just tested out the #12 pullrequest and it does not fix the issue, unfortunately. I will speak with my boss over here to see if we can work with Kristina in some way.

-Tony

[2015-10-05 23:01] robinleung opened #15 "Moodle Assignment Collection broken link"
Moodle assignment links to collection is broken. It opens up "https://teportfolios.domain.ca/https://teportfolios.domain.ca/view/view.php?id=2972".

How to reproduce:
1. Create a Mahara submission assignment in Moodle.
2. Create a collection in Mahara.
3. Use a test student to submit a Mahara assignment in Moodle. In the submission page in Moodle, under "Collections by xxxxx", click on the collect

[2015-11-06 04:57] agwells commented on #15
Hi Robin,

Thanks for the bug report! I'll see if I can fix that...

Cheers,
Aaron

[2015-11-06 15:39] kabalin commented on #8
moodle28-eventunlocking works perfectly on Moodle 2.9, we are using it on production.

[2015-11-06 16:36] kabalin opened #16 "Master branch"
Since there are no major version-specific changes in the plugin code between 2.7, 2.8 and 2.9, I suggest to start using master branch as a main plugin branch and use independent plugin versioning. There is no need to differentiate versions of the same codebase between branches, in fact it may introduce issues when same upgrade code is applied twice under different version numbers.

[2015-11-06 16:38] kabalin commented on #8
Plugin code that works on Moodle 2.7, 2.8, 2.9. https://github.com/lucisgit/moodle-assignsubmission_mahara/commits/master Perhaps we need to stop differentiating between Moodle versions? See #16

[2015-11-08 22:00] agwells commented on #16
Fair enough. Another advantage to reducing them to one branch, is that I don't usually have a lot of time available for this plugin, so making things simpler is probably better.

And if we do need to add some version-specific code at some point in the future, we can always adopt a new separate branch again. Or surround it in a construct like "if ($cfg->version > XXXX)".

I'll take a look at how th

[2015-11-08 22:05] agwells commented on #13
I'm not aware of any tests written for this yet. It probably would make sense to have a "test connection" button in the admin section. And if you did that, you could also use the same code to make a CLI script, which could be useful for things like nagios.

However, Moodle HQ probably isn't going to be accepting any enhancements to MNet into Moodle core any time soon, because MNet is still in the

[2015-11-08 22:07] kabalin commented on #16
Yep, that what I thought, for version-specific patches.

I think these days you just tag release with versions it supposed to be compatible with, at least for [JWPlayer](https://moodle.org/plugins/view/filter_jwplayer) I was using just one branch (will be using two since next release because JW6 and JW7 have significant differences).

[2015-11-08 22:08] kabalin commented on #16
@agwells Shall I push "master" to moodle-assignsubmission_mahara, so that you would review it here and relase when ready?

[2015-11-08 22:44] agwells commented on #16
I've just pushed it up and renamed the moodle27 and moodle28 branches to indicate they're deprecated.

The only thing I'm hesitant about, is saying it supports "Moodle 2.7+", because someone could come across that a year from now and think it means that we've tested it against Moodle 3.1 when we have not. I'd rather put a ceiling on that to indicate which versions we know it works with "Moodle 2.7

[2015-11-08 22:50] kabalin commented on #16
@agwells Well, users are normally coming from Moodle, where plugin page will clearly indicate which version the given release is compatible/tested with. But if you like to mention that in readme as well, that is fine.

[2015-11-09 03:47] agwells commented on #15
Okay, it appears this is due to a bug in the Mahara XMLRPC method get_views_for_user(). For views, it retrieves "fullurl", which is the absolute URL of the page, and "url", which is the relative URL for the page. For collections, it just retrieves "url" which is the absolute URL of the collection.

To make a link to roam over via mnet we need that local URL. So, it breaks for collections because i

[2015-11-09 04:29] agwells commented on #16
Updated the README to say 2.7, 2.8, and 2.9.

[2015-11-09 04:29] #16 closed

[2015-11-09 04:34] agwells commented on #15
Mahara bug report to fix the issue on the Mahara side: https://bugs.launchpad.net/mahara/+bug/1514299

[2015-11-09 04:36] agwells commented on #15
Should be fixed with commit 697ca001ecc0ea36ae6583ba7c024e2e0c831dc8

[2015-11-09 04:36] #15 closed

[2015-11-09 05:19] agwells opened #17 "Event handler doesn't unlock the assignment if it's graded 0"
To replicate:

0. Create a Moodle assignment with the Mahara submission plugin, setting the locking settings to unlock after grading.
1. Student submits a Mahara page to Mahara assignment in Moodle
2. Teacher grades assignment with a "0"

Expected result: The Mahara page should unlock (because it is now graded)
Actual result: The Mahara page remains locked

This is caused because the unlocking cod

[2015-11-09 05:22] #17 closed

[2015-11-09 05:36] kabalin commented on #17
Cant check now, but might be intended behaviour. What if teacher
selected 'no grade' (just opened assignment and clicked submit without
changing anything)? Anyway, push the fix, I will check later if it works in
all cases.

On Monday, 9 November 2015, Aaron Wells <notifications@github.com> wrote:

[2015-11-09 05:45] agwells commented on #17
If you're using a scale and you do "no grade", it gives $grade->grade == -1. If you're using numeric grading and you leave the grade field empty, it does $grade->grade == null.

I noticed this problem because my default test case is a jerky teacher who gives the student a 0 and writes mean feedback comments. ;)

[2015-11-09 23:27] robinleung commented on #15
Thanks Aaron.

[2015-11-10 17:45] upats commented on #13
Aaron,

Do you have any recommendations on how we could go about testing? I can have my student worker take a stab at developing a test page with a button in the admin panel. I'm just not sure how the test would function.

Would we just attempt an XMLRPC connection from Moodle -> Mahara and verify there is a response with no errors?

[2015-11-10 17:48] upats commented on #13
Sorry, an Mnet connection.

[2015-11-10 23:48] agwells commented on #13
Hi Tony,

I think the most sensible thing would be if Moodle sends an XMLRPC request to Mahara (and/or vice-versa). MNet uses XMLRPC as the communication medium, and all XMLRPC really is, is a way to make a function calls across the network (plus some authentications and stuff).

If you look in mahara at the file htdocs/api/xmlrpc/dispatcher.php, you can see a list of all the functions that Moodle

[2015-11-12 01:47] agwells opened #18 "Rename column mdl_assignsubmission_mahara.viewid to make it clear it can hold a view OR collection ID"
Before this plugin supported collections, the mdl_assignsubmission_mahara.viewid column held the (Mahara) ID of the submitted view. When I implemented collection supported, I added an additional column to the table (iscollection) and began using the viewid column to hold collection IDs as well as view IDs.

I fear this could cause developers new to the project to get confused and think that in the

[2015-11-12 11:54] kabalin commented on #18
May be itemid?

[2015-11-12 16:31] MelvRom commented on #8
Hi,

I know you guys have been working on this issue for quite a while, but there is something else that should be taken into account. In Moodle, you can evaluate students with a "marking workflow" which adds several statuses to each assessment within a Moodle assignment.

Currently, when a Mahara page is submitted within a Moodle assignment with the workflow option activated, the Mahara page will

[2015-11-12 19:32] kabalin commented on #8
Hello @MelvRom, "Marking workflow" support has been implemented in the latest release (1.2-mdl2.7+), is it the one you are using?

[2015-11-12 19:34] kabalin commented on #8
Using events for unlocking behaviour has been implemented in 1.2-mdl2.7+. Issue can be marked as closed.

[2015-11-12 19:34] #8 closed

[2015-11-12 21:20] agwells commented on #18
Haha, yes, that's probably a good idea. Doing a quick examination of the Moodle core database, I see that there are 11 "itemid" columns throughout the codebase, so it's also a fairly standard moodle programming practice.

There's also "instanceid", which is used in mdl_context and 4 other tables, but itemid is shorter. :)

[2015-11-12 21:23] agwells commented on #8
Yeah, I guess we never actually filed a separate Github issue about workflow. And I didn't mention it specifically in the 2.7 readme (except a footnote at the end about it being funded by Lancaster). But if you look closely at Ruslan's initial comments on *this* issue, the impetus to switch from the feedback plugin to events, was in order to support marking workflow.

[2015-11-12 21:26] kabalin commented on #8
The separate issue was recorded in https://github.com/MaharaProject/moodle-assignfeedback_mahara/issues/1, as unlocking was assignfeedback_mahara plugin job.

[2015-11-12 21:27] agwells commented on #8
Can you update the README to mention that we support marking workflow? I don't know enough about marking workflow to feel comfortable saying what we do with it. :)

[2015-11-12 21:28] kabalin commented on #8
@agwells It is mentioned already, see https://github.com/MaharaProject/moodle-assignsubmission_mahara#a-little-info-about-what-it-does

[2015-11-12 21:39] MelvRom commented on #8
Hi guys,

Great! This should fix our problem.

Thank you for your quick answers!

Melvin

[2015-11-12 21:40] agwells commented on #8
@kabalin Excellent. I've gone ahead and added a bit workflow to the feature list on the Moodle Plugin site as well, and added a link back to the github readme for more details, under the "Usage" section. https://moodle.org/plugins/view/assignsubmission_mahara

[2015-11-12 22:02] kabalin commented on #8
Thanks @agwells! What I am thinking, release notes in Moodle plugin page, should really be a release notes, not a copy of Readme - similar to what I do for this plugin: https://moodle.org/plugins/pluginversion.php?id=9104

What is in repo Readme, should be in Moodle plugin description (already there actually).

[2015-11-12 22:10] kabalin commented on #8
@MelvRom Glad it works for you! If there are any issues, please open new bug report. Enjoy ;)

[2015-11-12 22:26] kabalin commented on #8
I can update release notes in the latest release accordingly, no problem, if you are generally agree with proposal.

[2015-11-12 22:54] upats commented on #8
@kabalin I like the idea. Release notes are always super helpful to regular users who might not know to look at github.

[2015-11-12 23:02] agwells commented on #8
Sounds good to me too.

[2015-11-13 11:47] kabalin commented on #8
Done: https://moodle.org/plugins/pluginversion.php?id=9707

[2015-12-07 05:05] agwells opened #20 "Moodle 3.0 compatibility"
Need to test the plugin against Moodle 3 and make any necessary upgrades.

[2015-12-07 05:06] agwells commented on #20
No API changes seen in the Moodle 3.0 changelogs that seem like problems. And I've just now given the plugin (the version currently in the Moodle Plugin Database site) a run on Moodle 3.0 and found no problems.

So, I'll update the documentation and the database listing accordingly.

[2015-12-07 05:14] agwells commented on #20
Done!

[2015-12-07 05:14] #20 closed

[2015-12-09 23:30] kabalin commented on #20
Thanks Aaron!

[2015-12-16 16:30] mrmark opened #21 "Problem found with upgrade step 2015021002"
The code in question from db/upgrade.php:

[code]

The SQL statement doesn't take into account $record - so it executes the same query over and over again.  Most likely need to add ` AND assignment = ?` to the SQL and pass `[$record->assignment]` as the query parameters.

[2015-12-16 17:22] mrmark commented on #21
This is the fix we used and tested:

[code]

[2015-12-16 19:05] kabalin commented on #21
Thanks @mrmark for bug report, well spotted! Feel free to submit a pull request if you like.

[2015-12-16 19:06] kabalin commented on #21
@agwells shall we make an unplanned release given the seriousness of the issue?

[2015-12-17 02:26] agwells commented on #21
@kabalin Oh, I just noticed this is actually a data loss issue, isn't it? It's supposed to identify all the assignments that have enabled the old *feedback* plugin, and replace that record with one that says that assignment should turn on "unlock after grading"  in the *submission* plugin.

But instead, it changes every Mahara assignment submission instance to use "unlock after grading", regardles

[2015-12-17 16:27] kabalin commented on #21
@agwells a partial data loss, it does not change every submission instance, only those that had "locking" enabled now became "unlock after grading". Interesting that no-one spotted yet. Records from feedback plugin are deleted, so no way to reverse.

[2015-12-17 16:49] kabalin commented on #21
Fixed in https://github.com/MaharaProject/moodle-assignsubmission_mahara/pull/22, testing is required before merging to master.

[2015-12-17 20:19] agwells commented on #21
@kabalin Right, the query is ```UPDATE {assign_plugin_config} SET value = '2' WHERE plugin = 'mahara' AND subtype = 'assignsubmission' AND name = 'lock' AND value = '1'```.

So as you say, all assignments that were set to "Locking" move to "unlock after grading". So specifically, the data loss here is that if an assignment was set to permanent locking, it moves to temporary locking.

I'll try to t

[2015-12-21 10:09] kabalin commented on #21
And only if assignfeedback_mahara has been in use, those who has not used feedback plugin unlocking (assignfeedback_mahara) are not affected.

[2015-12-21 10:10] kabalin commented on #21
Release in progress.

[2015-12-21 11:20] kabalin commented on #21
[Released](https://github.com/MaharaProject/moodle-assignsubmission_mahara/releases/tag/release-1.2.1-2015021005). Closing the bug.

[2015-12-21 11:20] #21 closed

[2016-04-27 07:13] junglechen commented on #3
Hello,

I  have a similar problem.  Version of Mahara assignment plugin is  2015021005.  We run moodle 2.7 on ssl.  Moodle can log into  Mahara, but assignment submission plugin always show no available pages.

I do a test using moodle 2.7 working on http.  Assignment  submission plugin work well. I am not sure how to fix this problem.

--Jungle CHEN

[2016-05-04 23:07] agwells commented on #3
If users can roam from Moodle to Mahara, but the assignment plugin shows no Mahara pages available, then my guess would be that the Curl install on the Moodle web server doesn't like the SSL certificate on the Mahara web server.

MNet (and the Mahara assignment plugin, which uses Mnet for webservices) requires the Mahara & Moodle servers to send HTTP requests to each other via Curl. The Curl insta

[2016-05-04 23:12] agwells commented on #3
If you do find that the problem is Curl not liking the SSL certificates, then you have two options:

1. Add your web server's certificate authority to Curl's list of trusted certificates. I can't offer any specific advice on how to do this, except to Google it.

2. Tell Curl to ignore the certificate problems, by setting the CURLOPT_SSL_VERIFYPEER curl option to false. This is less secure, but eas

[2016-06-21 14:41] thepurpleblob commented on #7
Just a "me too" for this. It would be nice to see it fixed.

[2016-10-27 18:32] anitsirk opened #23 "Remove preview icon"
The preview icon is not working (and hasn't for quite some time) due to stricter iframe rules in Mahara. It would be good to remove it so people don't wonder why it's not working. The page can still be looked at before submission by clicking on it.

[2017-05-02 23:20] robinleung opened #24 "Assignment grading page in 3.1 gives "invalidresponse" error"
With Moodle 3.1.5 and latest version of plugin 1.2.1-mdl2.7+ (2015021006), when instructor goes to grading an assignment with the new grading page in Moodle 3.1, it displays an "invalid response" error message box and a loading page icon that never stops spinning.

Also noticed that in the Moodle assignment settings page, in the "Feedback types", Mahara feedback is no longer listed as an option.
!

[2017-05-08 17:06] upats commented on #24
@robinleung thanks for the report. We haven't done much testing ourselves beyond moodle 3.0 and as such, haven't used the new assignment grading interface yet. I'm sure there are going to be a lot of issues since it was such a huge change for the assignment module. Maybe @agwells will have some time to take a look. I may have a small development budget to work with to upgrade the plugins to work p

[2017-05-10 03:11] anitsirk commented on #24
There is some more discussion at https://moodle.org/mod/forum/discuss.php?d=351730#p1419478

At Catalyst, we are not planning on making major changes to that plugin because we are switching over to LTI for integration between Mahara and LMSs. That's the post that @kabalin referred to in his comment.

At the moment, we SSO already working for Mahara 17.04 and are in the process of gathering ideas f

[2017-05-11 19:29] robinleung commented on #24
Thanks @upats
So from my understanding of all this, the current assignment module can be worked on (given budget).
Our institution is on 16.10.x and using Moodle 3.1.x. and would really like to see some love for this plugin to be supported. :+1:

[2017-05-12 03:31] anitsirk commented on #24
@robinleung I'll get in touch via email.

[2017-06-28 00:04] agwells commented on #2
I just had a discussion with @anitsirk about this, because it came up again for one of our clients.

The current status of this is:

1. The assignment submission plugin (this plugin) still uses a hidden secreturl to control access. And this causes permissions issues when you submit the same Mahara page/collection to multiple Moodle assignments. Specifically, each page/collection can only have *one

[2017-06-28 00:13] anitsirk commented on #2
Ideally, LTI for assignment submission won't take many years. We can now do SSO via LTI (from Mahara 17.04 onwards) and are actively working on the proposal for LTI in the assignment process and estimating the required effort for it.

https://wiki.mahara.org/wiki/Developer_Area/Specifications_in_Development/MNet_replacement/LTI_implementation

[2017-06-28 00:14] agwells commented on #23
This is a duplicate of issue #7. :)

[2017-06-28 00:14] #23 closed

[2017-06-28 00:16] agwells commented on #2
Updating the title of this issue to be more descriptive of the actual bug it causes. (Title stolen from duplicate issue report #14 :) )

[2017-06-28 00:21] agwells commented on #7
As noted in issue #23, the quick "fix" for this is to delete the preview icon altogether. Or, if we wanted to be a little smarter, only display the preview icon if Moodle & Mahara are at the same domain name, which we can detect via the Mnet hostnames.

Note that the current "SAMEORIGIN" setting means the _whole_ domain name must be the same, which is a fairly unusual setup. (e.g. "example.com/moo

[2017-09-06 04:48] dmitriim opened #25 "Submission fails if multiple submission plugins are enabled"
Plugin version: 2015021006
Moodle version: 2016120504.10
Mahara version: 2016090224

Steps to replicate:
0. Assuming that you have moodle and mahara configured to work with each other.
1. Create a new assignment and enable  Mahara portfolio  and  File submission types
2. Set Require students click submit button to yes
3. Set Require that students accept the submission statement to yes
4. Login as

[2017-09-07 01:31] dmitriim commented on #25
Currently, this fix is going through the testing process for one of our clients. I'll let you know when it's done.

[2017-10-13 04:22] dmitriim commented on #25
This patch has passed the client QA. Recon it's a good candidate for merging.

[2017-10-15 20:06] #25 closed

[2018-02-06 06:58] roperto opened #27 "Cannot revert to draft if no portfolio submission"
Related to #25

If the submission include files (or other types) but no portfolio, it cannot be reverted to draft.

Notice: Trying to get property of non-object in .../mod/assign/submission/mahara/locallib.php on line 748

[2018-02-06 20:54] danmarsden commented on #27
@roperto does that patch fix this completely? - I presume so.... closing this off.

[2018-02-06 20:54] #27 closed

[2018-02-06 23:07] roperto commented on #27
Hi @danmarsden

This fixed the problem reverting draft, I didn't look much for similar issues in code (although in UI I couldn't find anything).

[2018-03-09 07:56] hermannkm commented on #3
I am using this plugin since years successfully. Since two weeks I have exactly the same problem

You have no available Mahara pages or collections. Please click here to visit

for only ONE specific user - it is working for all others. Where should I look into?

[2018-06-13 11:09] porcospino opened #29 "Add tag for version 1.3"
Hello

Please would you add a tag for release 1.3 (Build 2018053100)?

Many thanks,

Chris

[2018-06-14 00:34] danmarsden commented on #29
we haven't generated tags in github for releases for quite a while, and we'd probably forget on future releases. is there a reason you don't want to track it against a branch name? - I'd be more inclined to generate branches than manage it using tags.

[2018-06-14 05:55] porcospino commented on #29
I'm using `git subtree` to manage plug-ins, like this:

[code]

Doing this means we can be absolutely sure which version we're using.  Referencing a branch isn't as exact.

[2018-06-14 07:48] danmarsden commented on #29
we use subtrees here at catalyst too but use the branch name - I'm not clear on the advantages of using a tag like that - it means you are basically using a commit id (which you can do too). Most github repos with Moodle plugins that I've seen don't use tags and it's not something I'd be planning to add to the all the plugins I maintain. Happy for someone else with write access to the repo here to

[2018-06-14 15:22] porcospino commented on #29
OK, no problem.  It's just that there are lots of tags already in this repo, and I thought it was just an oversight.  I'm happy to use the branch name.  Are you going to add a MOODLE_34_STABLE branch for version 1.3?

[2018-06-14 20:41] danmarsden commented on #29
Usually I only generate a new branch off master when we need to deviate to support a different version - but I don't have any issues creating branches that are exactly the same as master if people really need them. - Would it make things easier for you if we had a MOODLE_34_STABLE branch here?

I've also attached a script that Matt Clarkson wrote that uses the moodle upgrade api to find updated pl

[2018-06-15 10:14] kabalin commented on #29
Yep, we were adding them in the past.

IMO the repo looks a bit more organised with version tags in place, so I added missing tags for each version bump we had since 1.2.1. However, it is up to developer whether to tag commits, there are no rules.

[2018-06-15 10:18] #29 closed

[2018-07-02 08:50] Connor-Overt opened #30 "When previewing assignment on Mahara from Moodle, occasionally times the session out instantly"
An issue has revealed itself recently with the latest versions of this plugin on Moodle with the above symptoms.

It seems to be very intermittent and usually happens when Mahara is open in another browser.

Authentication to Mahara is done via Mahoodle Integration XMLRPC.

[2018-07-07 10:59] HarryBleckert commented on #30
I obeserved the same problem.
Moodle 3.5 and Mahara 18.04.3

[2018-07-16 06:53] Connor-Overt commented on #30
Just to confirm,

Moodle version I am still experiencing on is 3.3.3

Mahara version is 17.04.4

[2018-07-23 01:51] anitsirk commented on #30
Previewing doesn't work properly anymore (and hasn't for a long time as far as I know). Since we are phasing out this plugin and move to LTI, this issue won't be fixed.

[2018-07-23 01:51] #30 closed

[2018-08-02 14:42] porcospino commented on #29
Many thanks @kabalin

@danmarsden I can't see the script either.  I'd be very grateful if you could make this available as I'm updating our tree right now.

[2018-08-02 21:49] danmarsden commented on #29
weird - not sure what github did to that... I've just dropped it here:
http://git.catalyst.net.nz/gw?p=moodle-r2.git;a=shortlog;h=refs/heads/mdl35-plugin-upgrade-script
under: admin/cli/upgrade-plugins.php

hope you find it useful!

[2019-02-18 09:09] Kevin-Hipwell commented on #3
I had this same issue.

Moodle reports that there are no available Mahara pages or collections when a Mahara page or collection contains the control character 0B

Steps to reproduce:

1. Create the 0B character to your browser using the &#11 ; (the output will be a rectangle )

2. Copy this character into the Mahara DB view table under the description field (make sure the owner is the same as the

[2019-05-13 12:26] bilias opened #31 "edit submission reload triggers user logout"
There seems to be a bug with this plugin.
I can reproduce it in 2 sites with the following scenario:

1) User is editing submissions
/mod/assign/view.php?id=61&action=editsubmission

2) clicks on a collection from mahara
/auth/mnet/jump.php?hostid=3&wantsurl=view%2Fview.php%3Fid%3D62

3) reload the edit submission page on moodle <<<--- this is what triggers the error

4) click again on an collecti

[2019-05-14 08:54] thepurpleblob opened #32 "Mahara views locked but no Moodle submission"
We have an intermittent problem with the Mahara view(s) being locked but noting being submitted in Moodle. Student reports "an error" (yes, I know!). Nothing useful is logged.

We have checked for mnet issues like time synchronisation and suchlike. SSO works fine.

It's a major pain to fix as there is nothing in the Mahara UI to reverse the lock.

I appreciate that this is a near useless report bu

[2019-08-02 12:50] danowar2k opened #33 "PHP 7.1 compatibility: using $this in a static method"
These lines contain a $this reference in a static context:

https://github.com/MaharaProject/moodle-assignsubmission_mahara/blob/87aa4d84d586d97080777bc059e16098f35928ce/classes/observers.php#L121-L135

Found using https://github.com/squizlabs/PHP_CodeSniffer and https://github.com/PHPCompatibility/PHPCompatibility.

Report output:
[code]

[2019-10-17 11:30] skarga commented on #31
I have just reproduced this problem for mahoodle = mahara 18.10 + moodle 3.5

[2019-10-23 14:17] OlenaTatarintseva opened #34 "Lack of MOODLE_INTERNAL checking"
Hello,

First of all, thank you for your working on this plugin.

I just want to inform you we found the lack of MOODLE_INTERNAL checking in the plugin files:

mod/assign/submission/mahara/backup/moodle2/restore_assignsubmission_mahara_subplugin.class.php
mod/assign/submission/mahara/db/upgrade.php
mod/assign/submission/mahara/db/events.php
mod/assign/submission/mahara/settings.php
mod/assign/subm

[2019-10-23 14:39] OlenaTatarintseva opened #35 "Using $this in static function"
Hello,

I reviewed the plugin and it looks like there is the bug in the code. I noticed using $this in static function release_submitted_view() in mod/assign/submission/mahara/classes/observers.php.

Best regards,
Olena Tatarintseva

[2019-10-29 09:59] sandeepgill commented on #31
I have the exact same issue with mahara 18.04 and Moodle 3.5

[2020-01-14 14:57] peterspicer-catalyst commented on #7
Actually... long wait, but https://bugs.launchpad.net/mahara/+bug/1859605 has been filed and I've submitted patches for core Mahara 18.10/19.04/19.10/master to fix this by adding support for using the MNET remotewwwhost as part of the allowed sites for Content-Security-Policy/X-Frame-Options in the same way LTI does.

[2020-02-14 13:21] kinnectus commented on #32
We, too, are experiencing the exact same - including the intermittence of the issue,

Moodle 3.6.7
Mahara 18.10.4
Plugin 1.3 (2019011700)

We have also noticed that when students receive error "attempt to send mnet request resulted in error:" (string 'errormnetrequest' in language files) they do not receive detail as to what error actually occurred. locallib.php has 11 occurrences of string "error

[2020-02-14 13:27] thepurpleblob commented on #32
Just to add to my original report. I can live with the occasional submission causing an error. This big problem for me is having no way to remove the lock.

It would be incredibly useful to have an admin option to clear the lock. The alternative is digging around in the database which isn't ideal.

[2020-02-14 13:33] kinnectus commented on #32
Our situation is causing a significant impact. We are a University and students submit Mahara views and collections to Moodle assignments and these incidents are causing panic, confusion and complaints at submission deadline dates. These negative views contributes to our student satisfaction and could lead to serious knock-on effects to the University's reputation.

Having a manual unlock capabili

[2020-02-17 02:29] danmarsden commented on #32
does anyone want to try this script I quickly knocked up?
https://gist.github.com/danmarsden/3acfded3d4647503e6966cf69db64a15
drop it in mod/assign/submission/mahara/forceunlock.php

pass it the cmid as an id param, and the submissionid of the users submission as "s"
so if the cmid is 6 and the users submission id is 10:

yoursite/mod/assign/submission/mahara/forceunlock.php?id=6&s=10

this is com

[2020-02-17 15:28] kinnectus commented on #32
How do we/can we find those values from the Moodle assignment interface? I understand they'll be URL parameters, but I've had a hunt around and can't find those two values that jump out as being what the sript would refer to...

Thank you :)

[2020-02-17 21:09] danmarsden commented on #32
cmid will be the id in the url when you view the assignment eg: mod/assign/view.php?id=XXX
as for the submissionid you'll probably need to do some digging. If you can't find it, you might need to wait for someone else to come along to test this out/improve it further.

[2021-02-15 01:04] danmarsden commented on #35
closing this as a duplicate of #33

[2021-02-15 01:04] #35 closed

[2021-04-16 10:01] thepurpleblob opened #37 "Unhelpful error message on duplicate submission"
Student sees, "The selected Mahara view or collection could not be submitted. Please choose another."

After a lot of digging, it turned out that the portfolio had already been submitted in a different Assignment. The comments for the code that check this are perfectly clear but it would have been much better if the error message says explicitly what the problem was.

[2021-06-10 10:17] thepurpleblob opened #38 "Impossible to remove submission"
Student makes a submission and then changes their mind. They click 'Remove submission' and confirm the acknowledgment screen. Nothing happens - it returns to the previous screen.

I have run with debugging on and nothing is shown or logged.

[2021-07-14 10:55] sgodbehere01 opened #39 "Cannot "Submit for grading" where the user hasn't picked a collection"
Hi there,

We have a situation where we'd like students to be able to choose between either making a file submission OR portfolio collection submission, however, submitting only a file submission without picking a collection results in seeing a "This assignment is not ready to submit" error"
![Screenshot from 2021-07-14 11-51-00](https://user-images.githubusercontent.com/31889885/125610247-9aa49c8

[2021-09-22 11:35] agarnav commented on #38
Hi, we have the same error and we have run the same debugging. We use phis plugin since 2013 and this year we will be using this plugin on a large scale.
So, could you correct this error. Thank you

[2021-09-22 19:22] anitsirk commented on #38
This would be a new feature as it had never been implemented to remove the submission. This plugin is no longer receiving new features from us as maintainers because we are focusing on the [web services edition of this plugin](https://github.com/catalyst/moodle-assignsubmission_maharaws). We'd be happy to look into this for you though if you'd like to sponsor this feature, @agarnav .

[2021-09-23 07:37] agarnav commented on #38
Thanks for your answer, Kristina. I understand ant I will try install web services and test ( our versions  MAHARA and MOODLE are corrects). So if  MNET  protocol  is not maintained, we will be ready. We think it's better. Maybe a future contribution for the French Moodlemoot in my university in July 2022 ... best regards

[2021-09-27 19:19] anitsirk commented on #38
@agarnav that sounds good. Web services already come with Mahara as does the LTI 1.1 integration. So there is no plugin needed on the Mahara end. It's only Moodle that would require the plugin. All the best.

[2021-09-27 19:19] #38 closed

[2021-10-14 13:41] Richardvi commented on #33
I think I'm having the same problem here:

![image](https://user-images.githubusercontent.com/5486910/137329092-be62eb27-c3e4-4ad6-8e6c-b2b108352ac3.png)

Error code: generalexceptionmessage
* line 130 of /mod/assign/submission/mahara/classes/observers.php: Error thrown
* line 73 of /mod/assign/submission/mahara/classes/observers.php: call to assignsubmission_mahara_observers::release_submitted_vi